Repository mangila/webshop: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-build, identity-build, inventory-build, outbox-build, price-build, product-build, shared-build

app-build:
  name: App Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/app/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

identity-build:
  name: Identity Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/identity/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

inventory-build:
  name: Inventory Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/inventory/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

outbox-build:
  name: Outbox Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/outbox/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

price-build:
  name: Price Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/price/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

product-build:
  name: Product Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/product/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

shared-build:
  name: Shared Module Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/shared/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

default method in interface
  .pre-commit-config.yaml
Due: none

add archunit and awaitallity
  platform/pom.xml
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/DomainRegistry.java
Due: shared-build

add archunit and awaitallity
  .pre-commit-config.yaml
Due: none

demure
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxEventListener.java
Due: outbox-build

register config
  platform/app/src/main/java/com/github/mangila/webshop/app/config/DomainRegistryConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/EventRegistryConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/config/InternalMessageQueueConfig.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/DomainRegistry.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/EventRegistry.java
Due: app-build, outbox-build, shared-build

one message queue per domain
  platform/app/src/main/java/com/github/mangila/webshop/app/config/CacheConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/DomainRegistryConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/EventRegistryConfig.java
  platform/app/src/main/resources/application.yaml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxTaskEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/config/InternalMessageQueueConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/OutboxEntityMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/projection/OutboxProjection.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxDomainMessageQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueuesOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskKey.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessQueueOutboxTask.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/CacheName.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/DomainRegistry.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/EventRegistry.java
Due: app-build, outbox-build, shared-build

config in app module
  platform/app/src/main/java/com/github/mangila/webshop/app/actuator/OutboxTaskEndpoint.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/outbox/pom.xml
Due: app-build, outbox-build

config in app module
  platform/app/src/main/resources/application.yaml
Due: app-build

find in map
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
Due: app-build, outbox-build

fill domain queue
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
Due: app-build, outbox-build

polishing
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
Due: outbox-build

one less stack frame = 100x performance
  platform/shared/src/main/java/com/github/mangila/webshop/shared/Ensure.java
Due: shared-build

one less stack frame = 100x performance
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionController.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessQueueOutboxTask.java
Due: app-build, outbox-build

Ensure with a custom exception
  platform/app/src/main/java/com/github/mangila/webshop/app/actuator/OutboxTaskEndpoint.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionController.java
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionResolver.java
  platform/app/src/main/resources/application.yaml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessQueueOutboxTask.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/Ensure.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/exception/ResourceNotFoundException.java
Due: app-build, outbox-build, shared-build

new error msg
  platform/app/src/main/java/com/github/mangila/webshop/app/config/EventRegistryConfig.java
  platform/identity/src/main/java/com/github/mangila/webshop/identity/application/IdentityService.java
  platform/identity/src/main/java/com/github/mangila/webshop/identity/domain/Identity.java
  platform/identity/src/main/java/com/github/mangila/webshop/identity/domain/cqrs/NewIdentityCommand.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxQueryService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/Outbox.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxSequence.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxInsertCommand.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxReplayQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/message/OutboxMessage.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/primitive/OutboxAggregateId.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/primitive/OutboxCreated.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/primitive/OutboxId.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/primitive/OutboxPayload.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/primitive/OutboxUpdated.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/projection/OutboxProjection.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductCommandService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductQueryService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/Product.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/ProductInsertCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductAttributes.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductCreated.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductId.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductName.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductUnit.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductUpdated.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/Ensure.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JsonMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/Domain.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/DomainEvent.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/DomainMessage.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/Event.java
  platform/shared/src/test/java/com/github/mangila/webshop/shared/EnsureTest.java
Due: app-build, identity-build, outbox-build, product-build, shared-build

new error msg
  platform/app/src/main/java/com/github/mangila/webshop/app/Application.java
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionController.java
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionResolver.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductCommandService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductQueryService.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/exception/ResourceNotFoundException.java
Due: app-build, outbox-build, product-build, shared-build

retrytemplate
  platform/app/src/main/java/com/github/mangila/webshop/app/config/RetryConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageProcessor.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/http/command/ProductCommandController.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/http/command/ProductCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/http/query/ProductQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/http/query/ProductQueryResolver.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/mapper/ProductRequestMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/exception/ApplicationException.java
Due: app-build, outbox-build, product-build, shared-build

new package for every web model
  platform/app/src/main/java/com/github/mangila/webshop/app/bootstrap/Bootstrap.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/OutboxInputMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/OutboxQueryFacade.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/OutboxQueryResolver.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/input/OutboxReplayInput.java
  platform/outbox/src/main/resources/graphql/outbox.graphql
  platform/product/src/main/java/com/github/mangila/webshop/product/application/ProductDtoMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/ProductEventMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryResolver.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/input/ProductIdInput.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandController.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/ProductByIdRequest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/ProductInsertRequest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductCommandService.java
Due: app-build, outbox-build, product-build

new package for every web model
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandController.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/ProductIdRequest.java
  platform/product/src/main/resources/graphql/product.graphql
Due: product-build

actuator endpoint
  platform/app/src/main/java/com/github/mangila/webshop/app/actuator/OutboxTaskActuatorEndpoint.java
Due: app-build

remove unessesary classes
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/error/GenericExceptionResolver.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/OutboxDtoMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/OutboxQueryFacade.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/mapper/OutboxEventMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageProcessor.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/SpringEventProducer.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessQueueOutboxTask.java
  platform/price/src/main/java/com/github/mangila/webshop/price/PriceEventListener.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductName.java
  platform/shared/pom.xml
  platform/shared/src/main/java/com/github/mangila/webshop/shared/Ensure.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/Domain.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/Event.java
Due: app-build, outbox-build, price-build, product-build, shared-build

use service instead of repository
  platform/app/src/main/java/com/github/mangila/webshop/app/config/DomainRegistryConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/EventRegistryConfig.java
  platform/app/src/main/java/com/github/mangila/webshop/app/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/graphql/OutboxQueryResolver.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxQueryService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxCommandJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxSequenceEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageProcessor.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessQueueOutboxTask.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/DomainRegistry.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/registry/EventRegistry.java
Due: app-build, outbox-build, shared-build

category module and Product variants
  .pre-commit-config.yaml
  platform/app/src/main/java/com/github/mangila/webshop/app/bootstrap/Bootstrap.java
  platform/category/pom.xml
  platform/category/src/main/java/com/github/mangila/webshop/category/Main.java
  platform/pom.xml
  platform/product/src/main/java/com/github/mangila/webshop/product/application/ProductDto.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/ProductDtoMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/ProductInsertRequest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/Product.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/ProductInsertCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductUnit.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductVariant.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductVariants.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/types/ProductUnitType.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntity.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/Sku.java
Due: app-build, product-build, shared-build

tx inbox
  README.md
  platform/inbox/pom.xml
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/Main.java
  platform/pom.xml
Due: none

update README
  README.md
Due: none

clean up task
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/CleanUpPublishedOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTask.java
Due: outbox-build

add test context for outbox WIP
  platform/outbox/pom.xml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventHandler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxQueryService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxDomainAndStatusQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxStatusAndDateBeforeQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxUpdateStatusCommand.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/OutboxEntity.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxCommandJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/CleanUpPublishedOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/DeletePublishedOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxJpaConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxTestApplication.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxTestContainerConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepositoryTest.java
  platform/outbox/src/test/resources/application.yaml
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductCommandService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductJpaCommandRepository.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
Due: outbox-build, product-build, shared-build

self contained modules WIP
  platform/app/pom.xml
  platform/category/pom.xml
  platform/config/pom.xml
  platform/config/src/main/java/com/github/mangila/webshop/config/AsyncConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/CacheConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/GraphQLConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/JpaConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/JsonConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/MicrometerConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/RetryConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/module/InboxConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/registry/DomainRegistryConfig.java
  platform/config/src/main/java/com/github/mangila/webshop/config/registry/EventRegistryConfig.java
  platform/outbox/pom.xml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxTaskActuatorEndpoint.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxJpaConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxRetryConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxTestApplication.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepositoryTest.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepositoryTest.java
  platform/pom.xml
  platform/shared/pom.xml
  platform/shared/src/main/java/com/github/mangila/webshop/shared/error/GlobalExceptionHandler.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/error/GlobalExceptionResolver.java
Due: app-build, outbox-build, shared-build

almost self contained modules WIP
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxJpaConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxRetryConfig.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepositoryTest.java
Due: outbox-build

almost self contained modules WIP
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepositoryTest.java
Due: outbox-build

polish maven
  platform/app/pom.xml
  platform/config/pom.xml
  platform/inbox/pom.xml
  platform/pom.xml
  platform/shared/pom.xml
Due: app-build, shared-build

polish maven
  platform/pom.xml
Due: none

outbox scheduler
  platform/app/src/main/resources/application.yaml
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventHandler.java
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventListener.java
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventMapper.java
  platform/inventory/src/main/java/com/github/mangila/webshop/inventory/InventoryEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/OutboxUpdateStatusCommand.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxCommandJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageProcessor.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/DeletePublishedOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/ProcessDlqOutboxTask.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepositoryTest.java
  platform/pom.xml
Due: app-build, inventory-build, outbox-build

outbox scheduler
  platform/app/pom.xml
  platform/app/src/main/java/com/github/mangila/webshop/app/bootstrap/Bootstrap.java
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventHandler.java
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
Due: app-build, outbox-build

outbox scheduler
  .pre-commit-config.yaml
Due: none

git hook config
  .pre-commit-config.yaml
  infrastructure/gateway/.gitattributes
  infrastructure/gateway/.gitignore
  infrastructure/gateway/.mvn/wrapper/maven-wrapper.properties
  infrastructure/gateway/mvnw
  infrastructure/gateway/mvnw.cmd
  infrastructure/gateway/src/main/resources/application.properties
  infrastructure/gateway/src/main/resources/application.yaml
Due: none

vibe README
  README.md
Due: none

Path conditions:
  app-build: any of: ^platform/app
  identity-build: any of: ^platform/identity
  inventory-build: any of: ^platform/inventory
  outbox-build: any of: ^platform/outbox
  price-build: any of: ^platform/price
  product-build: any of: ^platform/product
  shared-build: any of: ^platform/shared
