Repository mangila/webshop: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-build, identity-build, inventory-build, outbox-build, price-build, product-build, shared-build

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: local
    hooks:
      - id: app-build
        name: App Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/app/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/app
        require_serial: true
        pass_filenames: false

      - id: identity-build
        name: Identity Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/identity/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/identity
        require_serial: true
        pass_filenames: false

      - id: inventory-build
        name: Inventory Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/inventory/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/inventory
        require_serial: true
        pass_filenames: false

      - id: outbox-build
        name: Outbox Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/outbox/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/outbox
        require_serial: true
        pass_filenames: false

      - id: price-build
        name: Price Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/price/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/price
        require_serial: true
        pass_filenames: false

      - id: product-build
        name: Product Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/product/pom.xml", "-am", "clean", "test" ]
        language: system
        files: ^platform/product
        require_serial: true
        pass_filenames: false

      - id: shared-build
        name: Shared Module Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/shared/pom.xml", "-am", "clean", "test", ]
        language: system
        files: ^platform/shared
        require_serial: true
        pass_filenames: false

      - id: platform-build
        name: Platform Parent Build
        entry: cmd.exe /c mvnw.cmd
        args: [ "-f", "platform/pom.xml", "-am", "clean", "install", "-DskipTests" ]
        language: system
        pass_filenames: false
        require_serial: true

vibe README
  README.md
Due: none

vibe README n update pre commit config
  .pre-commit-config.yaml
  README.md
Due: none

vibe README n update pre commit config
  .pre-commit-config.yaml
Due: none

vibe README n update pre commit config
  infrastructure/gateway/pom.xml
Due: none

bump spring
  platform/pom.xml
Due: none

Update README.md
  README.md
Due: none

spring authorization server
  .pre-commit-config.yaml
  README.md
  infrastructure/authorization/pom.xml
  infrastructure/authorization/src/main/java/com/github/mangila/webshop/authorization/AuthorizationApplication.java
  infrastructure/authorization/src/main/resources/application.properties
  infrastructure/authorization/src/test/java/com/github/mangila/webshop/authorization/AuthorizationApplicationTests.java
Due: none

spring authorization server
  infrastructure/authorization/src/main/resources/application.properties
  infrastructure/authorization/src/main/resources/application.yaml
Due: none

update README
  README.md
Due: none

vibe k8s config
  README.md
  infrastructure/authorization/k8s.yaml
  infrastructure/gateway/k8s.yaml
  platform/k8s.yaml
  ui/admin-dashboard/k8s.yaml
Due: none

inbox
  platform/app/src/main/resources/application.yaml
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/application/event/InboxEventHandler.java
  platform/inbox/src/main/java/com/github/mangila/webshop/inbox/infrastructure/jpa/InboxEntity.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/InboxEventMapper.java
  platform/price/src/main/java/com/github/mangila/webshop/price/PriceInboxScheduler.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntity.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/model/InboxEvent.java
Due: app-build, outbox-build, price-build, product-build, shared-build

remove unessesary projection
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxQueryService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/projection/OutboxProjection.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/OutboxEntityMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxCommandJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/projection/OutboxEntityProjection.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/InboxEventMapper.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/producer/Producer.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/producer/SpringEventProducer.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepositoryTest.java
Due: outbox-build

test context cache
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventHandler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/service/OutboxCommandService.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/test/resources/spring.properties
Due: outbox-build

Integration use case tests
  platform/app/pom.xml
  platform/app/src/test/java/com/github/mangila/webshop/app/ApplicationTestContainerConfig.java
  platform/app/src/test/java/com/github/mangila/webshop/app/integration/CreateNewProductIntegrationTest.java
  platform/app/src/test/resources/application.yaml
  platform/app/src/test/resources/spring.properties
Due: app-build

use case services
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/CreateProductUseCase.java
Due: product-build

namespacing, action services
  platform/app/src/main/java/com/github/mangila/webshop/app/bootstrap/Bootstrap.java
  platform/app/src/test/java/com/github/mangila/webshop/app/integration/CreateProductIntegrationTest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/ProductOutboxMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandController.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/CreateProductRequest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/request/DeleteProductRequest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/CreateProductAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/CreateProductUseCase.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/DeleteProductAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/ProductQueryService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductQueryRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/CreateProductCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/DeleteProductCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/FindProductQuery.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductJpaCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/query/ProductJpaQueryRepository.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JsonMapper.java
Due: app-build, product-build, shared-build

namespacing, action services
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryResolver.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/input/FindProductInput.java
Due: product-build

scheduler
  platform/app/src/main/resources/application.yaml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxTaskActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/task/OutboxTaskKey.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/DeletePublishedOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/OutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/OutboxTaskKey.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/OutboxTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/ProcessQueueOutboxTask.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandController.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/Product.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductActive.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/types/ProductStatusType.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntity.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/ProductScheduler.java
Due: app-build, outbox-build, product-build

mapper validation
  platform/shared/src/main/java/com/github/mangila/webshop/shared/OutboxEventMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/annotation/RegisteredDomain.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/annotation/RegisteredEvent.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/annotation/RegisteredEventStringValidator.java
Due: shared-build

query and command actions
  platform/config/src/main/java/com/github/mangila/webshop/config/registry/EventRegistryConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxCommandJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/command/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/producer/Producer.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/ProductQueryService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/CreateProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/DeleteProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/UpdateProductStatusCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/package-info.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/package-info.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/query/FindProductsByStatusQueryAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestCommandFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/service/package-info.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductQueryRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/FindProductByStatusQuery.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/UpdateProductStatusCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/event/ProductEvent.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductEntityCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductJpaCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/query/ProductEntityQueryRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/query/ProductJpaQueryRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/task/DeleteProductTask.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/task/ProductTask.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/task/ProductTaskKey.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/task/ProductTaskRunner.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/CommandAction.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/Ensure.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/InternalQueue.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JsonMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/QueryAction.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/annotation/DomainEvent.java
Due: outbox-build, product-build, shared-build

query and command actions
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/ProductQueryService.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/CreateProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/DeleteProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/UpdateProductStatusCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/package-info.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/query/FindProductByIdQueryAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/query/FindProductsByStatusQueryAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/query/package-info.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductGraphqlQueryFacade.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/ProductQueryResolver.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/graphql/input/FindProductByIdInput.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductQueryRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/FindProductByIdQuery.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/query/ProductJpaQueryRepository.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JavaOptionalUtil.java
Due: product-build, shared-build

query and command actions
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/CreateProductCommandAction.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
Due: outbox-build, product-build, shared-build

query and command actions
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
Due: outbox-build

query and command actions
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/Outbox.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
Due: outbox-build

find by id in action
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/DeleteProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/UpdateProductStatusCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductCommandRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/primitive/ProductUpdated.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntity.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductJpaCommandRepository.java
Due: product-build

find by id in action
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/UpdateProductStatusCommandAction.java
Due: product-build

find by id in action
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
Due: outbox-build

outbox transaction
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/action/query/FindAllOutboxIdsByStatusQueryAction.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/event/OutboxEventListener.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/query/FindAllOutboxIdByStatusQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/query/FindAllOutboxIdsByStatusAndDateBeforeQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/DeletePublishedOutboxTask.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/CreateProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/DeleteProductCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/action/command/UpdateProductStatusCommandAction.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/ProductScheduler.java
Due: outbox-build, product-build

job and task difference, creating backing set in InternalQueue
  platform/app/src/main/resources/application.yaml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxJobConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxTaskConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxJobActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillQueuesJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/OutboxJobKey.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/OutboxJobRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/task/OutboxTaskKey.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/task/OutboxTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/task/ProcessDlqOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/task/ProcessQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/FillQueueOutboxTask.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/OutboxSimpleTaskRunner.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/task/OutboxTaskKey.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/ProductScheduler.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/task/ProductSimpleTaskRunner.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/InternalQueue.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SimpleTask.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SimpleTaskRunner.java
Due: app-build, outbox-build, product-build, shared-build

job and task difference, creating backing set in InternalQueue
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/action/query/FindAllOutboxIdsByDomainAndStatusQueryAction.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxJobConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/query/FindAllOutboxIdsByDomainAndStatusQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxEntityQueryRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillQueuesJob.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/infrastructure/jpa/query/OutboxEntityQueryRepositoryTest.java
Due: outbox-build

better namespacing
  platform/app/src/main/resources/application.yaml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxQueryJpaRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/product/src/main/java/com/github/mangila/webshop/product/config/ProductActuatorConfig.java
  platform/product/src/main/java/com/github/mangila/webshop/product/config/ProductJobConfig.java
  platform/product/src/main/java/com/github/mangila/webshop/product/config/ProductTaskConfig.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/actuator/ProductJobActuatorEndpoint.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/actuator/ProductTaskActuatorEndpoint.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/ProductInboxScheduler.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/ProductScheduler.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/job/DeleteMarkedProductsJob.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/job/ProductJobKey.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/job/ProductJobRunner.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/task/ProductSimpleTaskRunner.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/task/ProductTaskKey.java
Due: app-build, outbox-build, product-build

better namespacing
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageHandler.java
Due: outbox-build

remove unessecery impls
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/usecase/PublishOutboxEventUseCase.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/query/FindAllOutboxIdByStatusQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxJobActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillEventQueueOutboxJob.java
Due: outbox-build

remove unessecery impls
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillEventQueueOutboxJob.java
Due: outbox-build

static init
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/cqrs/query/FindAllOutboxIdByStatusQuery.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillEventQueueOutboxJob.java
Due: outbox-build
