Repository mangila/webshop: changes, and which pre-commit hooks are due for each by the changed paths.
All: gateway-infrastructure-build, platform-build, app-test, category-test, config-test, identity-test, inbox-test, inventory-test, outbox-test, price-test, product-test, shared-test

gateway-infrastructure-build:
  name: Gateway Infrastructure Build
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - infrastructure/gateway/pom.xml
  - -am
  - clean
  - install
  language: system
  require_serial: true
  pass_filenames: false

platform-build:
  name: Platform Parent Build (Skip tests)
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/pom.xml
  - -am
  - clean
  - install
  - -DskipTests
  language: system
  require_serial: true
  pass_filenames: false

app-test:
  name: App Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/app/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

category-test:
  name: Category Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/category/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

config-test:
  name: Config Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/config/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

identity-test:
  name: Identity Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/identity/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

inbox-test:
  name: Inbox Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/inbox/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

inventory-test:
  name: Inventory Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/inventory/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

outbox-test:
  name: Outbox Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/outbox/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

price-test:
  name: Price Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/price/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

product-test:
  name: Product Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/product/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

shared-test:
  name: Shared Module Test
  entry: cmd.exe /c mvnw.cmd
  args:
  - -f
  - platform/shared/pom.xml
  - -am
  - clean
  - test
  language: system
  require_serial: true
  pass_filenames: false

static init
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillEventQueueOutboxJob.java
Due: platform-build, outbox-test

actuator healing commands
  platform/app/src/main/resources/application-dev.yaml
  platform/inbox/src/main/resources/graphql/inbox.graphql
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/action/command/FindOutboxForUpdateCommandAction.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxJobActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxEntity.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxEntityCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxPublisher.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/PublishFailedOutboxJob.java
  platform/product/src/main/java/com/github/mangila/webshop/product/application/rest/ProductRestMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/cqrs/CreateProductCommand.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntity.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/ProductEntityMapper.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/jpa/command/ProductEntityCommandRepository.java
Due: platform-build, inbox-test, outbox-test, product-test

actuator healing commands
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxPublisher.java
Due: platform-build, outbox-test

actuator healing commands
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxPublisher.java
Due: platform-build, outbox-test

insanity checks
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/action/command/FindOutboxForUpdateCommandAction.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/action/command/UpdateOutboxStatusCommandAction.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/Outbox.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/OutboxPublisher.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/PublishFailedOutboxJob.java
Due: platform-build, outbox-test

comments
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringTransactionUtil.java
Due: platform-build, shared-test

comments
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JavaOptionalUtil.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JsonMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringTransactionUtil.java
Due: platform-build, shared-test

comments
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/usecase/InsertOutboxEventUseCase.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxJobConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillEventQueueOutboxJob.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/DistinctQueue.java
Due: platform-build, outbox-test, shared-test

DistinctQueue not managed by spring
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/EventDistinctQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/DistinctQueue.java
Due: platform-build, outbox-test, shared-test

DistinctQueue not managed by spring
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/OutboxEventDistinctQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
Due: platform-build, outbox-test

DistinctQueue not managed by spring
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/OutboxIdDistinctQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
Due: platform-build, outbox-test

comments about outbox
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/usecase/InsertOutboxEventUseCase.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/message/MessageRelay.java
Due: platform-build, outbox-test

add queue to bean
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxJobConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/OutboxScheduler.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillOutboxIdDistinctQueueOutboxJob.java
Due: platform-build, outbox-test

fill method
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/OutboxIdDistinctQueue.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillOutboxIdDistinctQueueOutboxJob.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/DistinctQueue.java
Due: platform-build, outbox-test, shared-test

funcational paradigm
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/domain/OutboxCommandRepository.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxCommandJpaRepository.java
  platform/product/src/main/java/com/github/mangila/webshop/product/domain/ProductCommandRepository.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/OutboxEventMapper.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SpringEventPublisher.java
Due: platform-build, outbox-test, product-test, shared-test

add better http verbs
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxPublishActuatorEndpoint.java
Due: platform-build, outbox-test

comments
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/usecase/InsertOutboxEventUseCase.java
Due: platform-build, outbox-test

remove most likely NPEs and add some unit tests
  platform/outbox/pom.xml
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/jpa/outbox/OutboxEntityQueryRepository.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/ArchUnitTest.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/DistinctQueue.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/JsonMapper.java
  platform/shared/src/test/java/com/github/mangila/webshop/shared/DistinctQueueTest.java
Due: platform-build, outbox-test, shared-test

archunit
  platform/app/pom.xml
  platform/app/src/test/java/com/github/mangila/webshop/app/ApplicationArchitectureTest.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/application/usecase/InsertOutboxEventUseCase.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxActuatorConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/config/OutboxJobConfig.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/actuator/OutboxJobActuatorEndpoint.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/DeletePublishedOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/FillOutboxIdDistinctQueueOutboxJob.java
  platform/outbox/src/main/java/com/github/mangila/webshop/outbox/infrastructure/scheduler/job/OutboxJobRunner.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/ArchUnitTest.java
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxArchitectureTest.java
  platform/product/src/main/java/com/github/mangila/webshop/product/config/ProductActuatorConfig.java
  platform/product/src/main/java/com/github/mangila/webshop/product/config/ProductJobConfig.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/actuator/ProductJobActuatorEndpoint.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/job/DeleteMarkedProductsJob.java
  platform/product/src/main/java/com/github/mangila/webshop/product/infrastructure/scheduler/job/ProductJobRunner.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SimpleJob.java
  platform/shared/src/main/java/com/github/mangila/webshop/shared/SimpleJobRunner.java
Due: platform-build, app-test, outbox-test, product-test, shared-test

archunit
  platform/outbox/src/test/java/com/github/mangila/webshop/outbox/OutboxArchitectureTest.java
Due: platform-build, outbox-test

test folder
  docs/test.md
  test/gatling/pom.xml
  test/gatling/src/main/java/com/github/mangila/webshop/Main.java
  test/scripts/stress-test.ps1
Due: platform-build

data analytics directory
  data/data.txt
  docs/data.md
Due: platform-build

data analytics directory
  docs/data.md
Due: none

Path conditions:
  gateway-infrastructure-build: any of: ^infrastructure/gateway, but not: \.(ya?ml|md)$
  platform-build: any file but: \.(ya?ml|md)$
  app-test: any of: ^platform/app, but not: \.(ya?ml|md)$
  category-test: any of: ^platform/category, but not: \.(ya?ml|md)$
  config-test: any of: ^platform/config, but not: \.(ya?ml|md)$
  identity-test: any of: ^platform/identity, but not: \.(ya?ml|md)$
  inbox-test: any of: ^platform/inbox, but not: \.(ya?ml|md)$
  inventory-test: any of: ^platform/inventory, but not: \.(ya?ml|md)$
  outbox-test: any of: ^platform/outbox, but not: \.(ya?ml|md)$
  price-test: any of: ^platform/price, but not: \.(ya?ml|md)$
  product-test: any of: ^platform/product, but not: \.(ya?ml|md)$
  shared-test: any of: ^platform/shared, but not: \.(ya?ml|md)$
